* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.playing-field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: red;
  padding: 20px;
}

/* .cards-container .card {
  flex-shrink: 10;
} */
