* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  /* background-color: green; */
}

.playing-field-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  /* background-color: red; */
  padding: 20px;
  min-height: 100vh;
}
